In [2]:
!wget -O CTA_ridership_info.csv https://data.cityofchicago.org/api/views/5neh-572f/rows.csv?accessType=DOWNLOAD

--2017-05-11 03:31:10--  https://data.cityofchicago.org/api/views/5neh-572f/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘CTA_ridership_info.csv’

    [                            <=>        ] 30,432,355   699KB/s   in 38s

Last-modified header invalid -- time-stamp ignored.
2017-05-11 03:31:49 (776 KB/s) - ‘CTA_ridership_info.csv’ saved [30432355]

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
rides = pd.read_csv('CTA_ridership_info.csv')
rides.head()

   station_id         stationname        date daytype  rides
0       40010  Austin-Forest Park  01/01/2001       U    290
1       40020         Harlem-Lake  01/01/2001       U    633
2       40030        Pulaski-Lake  01/01/2001       U    483
3       40040        Quincy/Wells  01/01/2001       U    374
4       40050               Davis  01/01/2001       U    804

In [5]:
rides.groupby('stationname')['rides'].mean().sort_values(ascending=False).head()

stationname
Clark/Lake            13661.190402
Lake/State            13299.597592
Chicago/State         12944.953208
95th/Dan Ryan         10859.289046
Belmont-North Main    10440.290384
Name: rides, dtype: float64

In [6]:
rides[rides['daytype']=='W'].groupby('stationname')['rides'].std().sort_values(ascending=False).head()

stationname
Lake/State            4292.931370
Washington/State      3890.640503
Addison-North Main    3289.670003
Clark/Lake            2742.644346
Fullerton             2602.717176
Name: rides, dtype: float64

In [7]:
rides[rides['stationname']=='Homan']

       station_id stationname        date daytype  rides
25691       41580       Homan  07/01/2001       U      0
25834       41580       Homan  07/02/2001       W      0
25977       41580       Homan  07/03/2001       W      0
26120       41580       Homan  07/04/2001       U      0
26263       41580       Homan  07/05/2001       W      0
26406       41580       Homan  07/06/2001       W      0
26549       41580       Homan  07/07/2001       A      0
26692       41580       Homan  07/08/2001       U      0
26835       41580       Homan  07/09/2001       W      0
26978       41580       Homan  07/10/2001       W      0
27121       41580       Homan  07/11/2001       W      0
27264       41580       Homan  07/12/2001       W      0
27407       41580       Homan  07/13/2001       W      0
27550       41580       Homan  07/14/2001       A      0
27693       41580       Homan  07/15/2001       U      0
27836       41580       Homan  07/16/2001       W      0
27979       41580       Homan  07/17/2001       W      0
28122       41580       Homan  07/18/2001       W      0
28265       41580       Homan  07/19/2001       W      0
28408       41580       Homan  07/20/2001       W      0
28551       41580       Homan  07/21/2001       A      0
28694       41580       Homan  07/22/2001       U      0
28837       41580       Homan  07/23/2001       W      0
28980       41580       Homan  07/24/2001       W      0
29123       41580       Homan  07/25/2001       W      0
29266       41580       Homan  07/26/2001       W      0
29409       41580       Homan  07/27/2001       W      0
29552       41580       Homan  07/28/2001       A      0
29695       41580       Homan  07/29/2001       U      0
29838       41580       Homan  07/30/2001       W      0
29981       41580       Homan  07/31/2001       W     27

In [8]:
rides['date'] = pd.to_datetime(rides['date'])

In [9]:
rides_annual = rides.groupby([rides['stationname'],rides['date'].dt.year]).sum()

In [10]:
rides_2016 = rides[rides['date'].dt.year == 2016].groupby('stationname')['rides'].sum()
rides_2001 = rides[rides['date'].dt.year == 2001].groupby('stationname')['rides'].sum()
rides_delta = (rides_2016-rides_2001)/rides_2001

In [11]:
rides_delta.sort_values(ascending=False)

stationname
Conservatory               2.860312
Kedzie-Cermak              2.067121
Central Park               2.048178
Pulaski-Cermak             1.835424
Damen-Cermak               1.495283
Grand/Milwaukee            1.290409
Western-Cermak             1.287597
California-Cermak          1.258800
Clinton-Lake               1.244929
18th                       1.227814
Kostner                    0.910150
Chicago/Milwaukee          0.845713
Harrison                   0.798809
Roosevelt                  0.769159
California/Milwaukee       0.727882
Western/Milwaukee          0.717736
Cicero-Cermak              0.707792
Sedgwick                   0.663519
Library                    0.644327
North/Clybourn             0.615387
Ashland-Lake               0.609335
Damen/Milwaukee            0.602900
Clinton-Forest Park        0.600959
Chicago/Franklin           0.599140
Lake/State                 0.590030
Randolph/Wabash            0.578265
Logan Square               0.534433
Garfield-South Elevated    0.531102
LaSalle                    0.522235
54th/Cermak                0.504169
                             ...
Main                      -0.035980
35-Bronzeville-IIT        -0.042062
Ridgeland                 -0.071954
Jackson/State             -0.072376
79th                      -0.074579
Cumberland                -0.083842
South Boulevard           -0.110243
Howard                    -0.111467
LaSalle/Van Buren         -0.158101
51st                      -0.165695
Halsted/63rd              -0.167990
Central-Lake              -0.168899
63rd-Dan Ryan             -0.171673
Linden                    -0.177303
Central-Evanston          -0.177867
King Drive                -0.183358
East 63rd-Cottage Grove   -0.212724
Garfield-Dan Ryan         -0.231622
87th                      -0.234954
69th                      -0.249797
95th/Dan Ryan             -0.260790
Ashland/63rd              -0.352982
Madison/Wabash            -0.999870
Cermak-McCormick Place          NaN
Dempster-Skokie                 NaN
Homan                           NaN
Morgan-Lake                     NaN
Oakton-Skokie                   NaN
Skokie                          NaN
Washington/State                NaN
Name: rides, dtype: float64

In [12]:
rides_2001[40830]

IndexError: index out of bounds

In [ ]:
(rides_2016.sum()-rides_2001.sum())/rides_2001.sum()

In [ ]:
stops = pd.read_csv('CTA_-_System_Information_-_List_of__L__Stops.csv')

In [ ]:
stops.head()

In [ ]:
rides_2016 = rides[rides['date'].dt.year == 2016].groupby('station_id')['rides'].sum()
rides_2001 = rides[rides['date'].dt.year == 2001].groupby('station_id')['rides'].sum()
rides_delta = (rides_2016-rides_2001)/rides_2001
stops['Delta_2016_2001'] = stops['MAP_ID'].apply(lambda x: rides_delta[x])
stops['Ridership_2016'] = stops['MAP_ID'].apply(lambda x: rides_2016[x])

In [ ]:
stops['latitude'] = stops['Location'].apply(lambda x: x.strip('()').split(', ')[0])
stops['longitude'] = stops['Location'].apply(lambda x: x.strip('()').split(', ')[1])

In [ ]:
stops

[map](Change_in_ridership_map_2001_2016.html)

In [ ]:
rides_2011 = rides[rides['date'].dt.year == 2011].groupby('station_id')['rides'].sum()
rides_delta = (rides_2016-rides_2011)/rides_2011
stops['Delta_2016_2011'] = stops['MAP_ID'].apply(lambda x: rides_delta[x]*100)
stops['Ridership_2016'] = stops['MAP_ID'].apply(lambda x: rides_2016[x])


map_options = GMapOptions(lat=41.857908, lng=-87.669147, map_type="roadmap", zoom=11)

plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options, sizing_mode = 'scale_both'
)
plot.title.text = "CTA Change in Ridership 2011-2016"
plot.api_key = "AIzaSyAziAH5D6C2_kYB2HzELYm122SkME6uyX8"

hover = HoverTool(
        tooltips=[
            ("Stop", "@STATION_NAME"),
            ("Change from 2011 to 2016 (%)", "@Delta_2016_2011{0.00}"),
            ("Ridership (2016)", "@Ridership_2016"),
        ]
    )


#create size column with relative values
MIN_SIZE = 8
MAX_SIZE = 20
stops['size'] = ( (stops['Ridership_2016']-stops['Ridership_2016'].min()) /
                (stops['Ridership_2016'].max() - stops['Ridership_2016'].min())*MAX_SIZE ) + MIN_SIZE

#Scale ridership changes relative to total system wide changes
total_change = (rides_2016.sum()-rides_2011.sum())/rides_2011.sum()
stops['Delta_Rel_2016_2011'] = stops['Delta_2016_2011']-total_change*100

source = ColumnDataSource(data = stops.groupby('MAP_ID').first())

mapper = LinearColorMapper(palette=bokeh.palettes.RdYlGn[11], 
                           low=stops['Delta_Rel_2016_2011'].quantile(0.9), high=stops['Delta_Rel_2016_2011'].quantile(0.1))

circle = Circle(x="longitude", y="latitude", size='size',
                fill_color={'field': 'Delta_Rel_2016_2011', 'transform': mapper})
plot.add_glyph(source, circle)

plot.add_tools(PanTool(), WheelZoomTool(), BoxZoomTool(), hover)
output_file('Change_in_ridership_map_2011_2016.html')
show(plot)

[map](Change_in_ridership_map_2011_2016.html)

In [ ]:
r_2016 = rides[rides['date'].dt.year==2016]
weekday = r_2016[r_2016['daytype']=='W'].groupby('station_id')['rides'].mean()
weekend = r_2016[r_2016['daytype']!='W'].groupby('station_id')['rides'].mean()
saturday = r_2016[r_2016['daytype']=='A'].groupby('station_id')['rides'].mean()
sunday = r_2016[r_2016['daytype']=='U'].groupby('station_id')['rides'].mean()

In [ ]:
map_options = GMapOptions(lat=41.857908, lng=-87.669147, map_type="roadmap", zoom=11)

plot = GMapPlot(x_range=DataRange1d(), y_range=DataRange1d(), 
                map_options=map_options)
plot.title.text = "CTA Relative Weekend/Holiday Use 2016"
plot.api_key = "AIzaSyAziAH5D6C2_kYB2HzELYm122SkME6uyX8"

hover = HoverTool(
        tooltips=[
            ("Stop", "@STATION_NAME"),
            ("Weekend Use (%)", "@weekend_use{int}"),
            ("Ridership (2016)", "@Ridership_2016"),
        ]
    )


#create size column with relative values
MIN_SIZE = 8
MAX_SIZE = 20
stops['size'] = ( (stops['Ridership_2016']-stops['Ridership_2016'].min()) /
                (stops['Ridership_2016'].max() - stops['Ridership_2016'].min())*MAX_SIZE ) + MIN_SIZE

#Calculate relative weekend use
weekend_use = (weekend-weekday)/weekday*100
stops['weekend_use'] = stops['MAP_ID'].apply(lambda x: weekend_use[x])


source = ColumnDataSource(data = stops.groupby('MAP_ID').first())

mapper = LinearColorMapper(palette=bokeh.palettes.RdYlGn[11], 
                           low=stops['weekend_use'].quantile(0.9), high=stops['weekend_use'].quantile(0.1))

circle = Circle(x="longitude", y="latitude", size='size',
                fill_color={'field': 'weekend_use', 'transform': mapper})
plot.add_glyph(source, circle)

plot.add_tools(PanTool(), WheelZoomTool(), BoxZoomTool(), hover)
output_file('Change_in_ridership_map_2016_weekend_use.html')
show(plot)

[map](Change_in_ridership_map_2016_weekend_use.html)

In [ ]:
stops.sort_values(by='weekend_use',ascending=False)

In [ ]:
(weekend.sum()-weekday.sum())/weekday.sum()

In [ ]:
stops = stops.groupby('MAP_ID').first()

In [ ]:
stops[stops['RED']==True]['Ridership_2016'].sum()

In [ ]:
stops.columns

In [ ]:
lines = ['RED', 'BLUE', 'G','BRN', 'P','Y', 'Pnk', 'O']
stops['lines'] = stops[lines].sum(axis=1)

In [ ]:
for line in lines:
    total = stops[stops['lines']<2][stops[line]==True]['Ridership_2016'].sum()
    print("{}: {:.1f} M".format(line,total/1e6))

In [ ]:
stops['Delta_2016_2011'].mean()

In [ ]:
(rides_2016.sum()-rides_2011.sum())/rides_2011.sum()